<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>

    <!-- ARR Reverse Proxy -->
    <proxy enabled="true" preserveHostHeader="true" />

    <!-- Force Rewrite before Static -->
    <handlers>
      <clear />
      <add name="StaticFile" path="*" verb="*" 
           modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
    </handlers>

    <rewrite>
      <rules>

        <!-- SSR for product -->
        <rule name="Product SSR Proxy" stopProcessing="true">
          <match url="^product/.*" />
          <action type="Rewrite" url="http://localhost:4000/api/{R:0}" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>

</configuration>
